<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="./bootstrap.php" colors="true">

    <testsuite name="all-tests">
        <directory>./Tests/</directory>
    </testsuite>

    <filter>
        <whitelist>
            <directory>./</directory>
            <exclude>
                <file>./bootstrap.php</file>
                <directory>./build</directory>
                <directory>./Tests</directory>
                <directory>./vendor</directory>
            </exclude>
        </whitelist>
    </filter>

    <logging>
        <log type="coverage-html" 
            target="build/coverage" 
            charset="UTF-8" 
            yui="true" 
            highlight="true" 
            lowUpperBound="40"
            highLowerBound="70" />
    </logging>

</phpunit>
